version: 2

workflows:
  version: 2
  configstore:
    jobs:
      - test-py38
      - test-py37
      - check

jobs:

  test-py38:
    docker:
      - image: circleci/python:3.8
    working_directory: ~/configstore
    steps:
      - checkout
      - restore_cache:
          key: configstore-py38-v3
      - run:
          name: Install CI tools
          command: |
            python3.8 -m venv venv
            venv/bin/pip install tox
      - run:
          name: Test with Python 3.8
          command: venv/bin/tox -e py38 -- --junitxml=~/reports/tox/coverage.xml
      - save_cache:
          key: configstore-py38-v3
          paths:
            - venv
            - .tox
      - store_test_results:
          path: ~/reports

  test-py37:
    docker:
      - image: circleci/python:3.7
    working_directory: ~/configstore
    steps:
      - checkout
      - restore_cache:
          key: configstore-py37-v3
      - run:
          name: Install CI tools
          command: |
            python3.7 -m venv venv
            venv/bin/pip install tox
      - run:
          name: Test with Python 3.7
          command: venv/bin/tox -e py37 -- --junitxml=~/reports/tox/coverage.xml
      - run:
          name: Check coverage with Python 3.7
          command: venv/bin/tox -e coverage
      - save_cache:
          key: configstore-py37-v3
          paths:
            - venv
            - .tox
      - store_test_results:
          path: ~/reports

  check:
    docker:
      - image: circleci/python:3.8
    working_directory: ~/configstore
    steps:
      - checkout
      - restore_cache:
          key: configstore-check-v3
      - run:
          name: Install CI tools
          command: |
            python3.8 -m venv venv
            venv/bin/pip install tox
      - run:
          name: Check packaging and dependencies
          command: venv/bin/tox -e pkg
      - save_cache:
          key: configstore-check-v3
          paths:
            - venv
            - .tox
